---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <section
    class="col-[1/-1] h-[100vh] border-b-1 border-gray-100 relative flex items-center justify-center"
  >
    <h1 class="text-headline-1 font-inter">Scroll down</h1>
  </section>
  <section class="col-[2/-2] h-[100vh] flex items-center justify-center">
    <h2 class="text-6xl text-dark font-bold">Example area</h2>
  </section>
  <section
    class="col-[1/-1] h-[100vh] border-t-1 border-gray-100 relative flex items-center justify-center"
  >
    <h2 class="text-headline-1">The End</h2>
  </section>
</Layout>

<!-- Example: Custom Web Component with ScrollMaster -->

<script>
  class MyAnimatedCard extends HTMLElement {
    progress(value: number) {
      // Animate based on scroll progress (0–1)
      this.style.setProperty("--scroll-progress", value.toString());
      this.style.opacity = value.toString();
      this.style.transform = `scale(${value})`;
      //console.log("Scroll progress:", value);
    }
  }
  customElements.define("my-animated-card", MyAnimatedCard);

  class MyTriggerCard extends HTMLElement {
    enter() {
      // triggered when entering the viewport
      console.log("Entering viewport");
    }
    leave() {
      // triggered when leaving the viewport
      console.log("Leaving viewport");
    }
  }
  customElements.define("my-trigger-card", MyTriggerCard);
</script>
