---
import "../assets/styles/global.css";
import { Font } from "astro:assets";

const columns = "24";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <Font cssVariable="--font-inter" preload />
    <meta name="generator" content={Astro.generator} />
    <title>ScrollyMotion - Smooth scroll animations, made simple</title>
  </head>
  <body
    style={`--columns: ${columns};`}
    class:list={[
      "grid min-h-[100vh] content-start grid-cols-[repeat(var(--columns),minmax(0,1fr))]",
    ]}
    data-show-grid="true"
  >
    <slot />
  </body>
</html>
<style>
  [data-show-grid="true"] {
    background-image: repeating-linear-gradient(
      to right,
      var(--color-gray-100),
      var(--color-gray-100) 1px,
      transparent 1px,
      transparent
    );
    background-size: calc(100% / var(--columns)) 100%;
  }
</style>
